form{
    text-align: center;
    padding=20px;
    width: 500px;
    margin:auto;
    border:3px solid rgb(5, 5, 5);
    background-color: antiquewhite;
}

div{
    
   text-align: left;
    line-height: 23px;
}
#div1{
    
    text-align:left;
    line-height: 23px;
}

#div2{
    
    text-align:left;
    line-height: 23px;
}
h1{  
    text-decoration-style: double;
    color: blue;
    border:2px solid black;
}

button{
    color: red;
    background-color: goldenrod;
    font-size: large;
    cursor: pointer;
}
label{
    margin-left: 20px;
}

input
{
width: 350px;
padding: 10px;
padding-left: 50px;
}
section{
    padding-left: 10px;
}